<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tads.animalsfriends">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="animals_friends.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tads.animalsfriends" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaAdocao"
            android:label="@string/title_activity_lista_adocao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormularioAdocao"
            android:label="@string/title_activity_formulario_adocao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaMausTratos"
            android:label="@string/title_activity_lista_maus_tratos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormularioMausTratos"
            android:label="@string/title_activity_formulario_maus_tratos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>